
.ant-form {
    @color-text: #fff;
    color: @color-text;

    .ant-form-item-label > label {
        color: @color-text;
    }
    .ant-form-item-extra {
        color: #C6D9F8;
        padding-top: 4px;
        font-size: 12px;
    }
}