
.ant-switch {
    outline: none;
}

.ant-switch-inner {
    // color: @color-primary;
}

.ant-switch-handle::before {
    background-color: #CFCFCF;
}

.ant-switch-checked {
    // background-color: rgba(@color-primary, .4)
    .ant-switch-handle::before {
        background-color: #fff;
    }
}
