.container {
    background: rgba(@color-primary, .2);
    border-color: @color-primary;
    color: #fff;
    user-select: unset;
    display: inline-flex;
    align-items: center;
    :global {
        .anticon svg {
            fill: #fff;
        }
    }
}